<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hassan.masla7ty" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.example.gmapsapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".pojo.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_lancher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.MapLibActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBqW9jmHFe95p30hrOumuKBh1HYtTLVzpc" />

        <activity android:name=".activities.SignUpActivity" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".activities.CommentActivity"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name=".activities.ServiceDetailsActivity"
            android:label="@string/title_activity_service_details" >
        </activity>
        <activity
            android:name=".activities.MyProfile"
            android:label="@string/title_activity_my_profile" >
        </activity>
        <activity
            android:name=".activities.MyFriends"
            android:label="@string/title_activity_my_friends" >
        </activity>
    </application>

</manifest>
